# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Environment files
.env

# Dependencies
package-lock.json
yarn.lock

# MacOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build directories
build/
dist/

# Temporary files
tmp/
