/* assets/main.css */

/* Réinitialisation des marges et des paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style global pour le body */
body {
  font-family: 'Arial', sans-serif;
  background-color: white;  /* Fond clair */
  color: black;  /* Couleur de texte */
}
